@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@500;700&display=swap');

/* Light Theme */
.light-theme {
    --text-color: #4a4a4a;
    --background-color: #f5f5f5;
    --button-color: #4CAF50;
    --button-hover-color: #f5f5f5;
    --button-hover-text-color: black;
    --background-image: url('/media/bg-pattern.jpg');
}

/* Dark Theme */
.dark-theme {
    --text-color: #f5f5f5;
    --background-color: #4a4a4a;
    --button-color: #f5f5f5;
    --button-hover-color: #4CAF50;
    --button-hover-text-color: white;
    --background-image: url('/media/name_logo.png');
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header .logo img {
    height: 50px;
    padding-left: 20px;
}

.button {
    padding: 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
}


.header .navigation {
    /* You can add additional styles specific to navigation here */
}

.navigation .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.navigation .list li {
    padding: 10px;
}

.navigation .list li a {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
}

main {
    width: 100vw;
    height: 100vh;  
    background: var(--background-color);
    background-image: var(--background-image);
    background-repeat: repeat;
}
